<StackLayout orientation="vertical" width="auto">
  <button text="product_earch" (tap)="onTapProductSearch()"></button>
  <button text="promotion_viewed" (tap)="onTapPromotionViewed()"></button>
  <button text="promotion_clicked" (tap)="onTapPromotionClicked()"></button>
  <button text="product_viewed" (tap)="onTapProductViewed()"></button>
  <button text="checkout_Started" (tap)="onTapCheckoutStarted()"></button>
  <button text="checkout_step_viewed" (tap)="onTapCheckoutStepViewed()"></button>
  <button text="checkout_step_completed" (tap)="onTapCheckoutStepCompleted()"></button>
  <button text="order_completed" (tap)="onTapOrderCompleted()"></button>
  <button text="order_cancelled" (tap)="onTapOrderCancelled()"></button>
  <button text="coupon_entered" (tap)="onTapCouponEntered()"></button>
  <button text="coupon_applied" (tap)="onTapCouponApplied()"></button>
  <button text="coupon_denied" (tap)="onTapCouponDenied()"></button>
  <button text="product_reviewed" (tap)="onTapProductReviewed()"></button>
</StackLayout>